/*reset e centralização*/
body {
margin: 150;
heigth:100vh
display: grid;
place-items: center;
background: #E5D353




<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial=scale=1">
<title> Soma do Eduardo </title>

</head>

<body>
<main class= "game-container">
  <h1 class="game-title">Soma Eduardo 1996</h1>

  <div class= "result-screen">
    <span class= "prefix"> RESULTADO</span>
    <span id= "resultado">   </span>
    </div>

    <button id="btnsoma" class="game-buton"> PRESS START</BUTTON>
    </main>
    </body>
    </html>
<script>
</body>

<style.css>
}
</style.css>
</html>